@page "/"
@using DnD35EDMTools.Data.Classes

<PageTitle>Home</PageTitle>

Welcome to the DnD 3.5 Edition Dungeon Master Tools

<div>
    <br/>
    <button class="btn btn-primary" @onclick="TriggerSuccessNotification">Show Success</button>
    <button class="btn btn-primary" @onclick="TriggerErrorNotification">Show Error</button>
    <button class="btn btn-primary" @onclick="TriggerWarningNotification">Show Warning</button>
</div>
<div>
    <br/>
    <button class="btn btn-primary" @onclick="TriggerInformationNotification">Show Information</button>
    <button class="btn btn-primary" @onclick="GenerateRandomNotifications">Generate Random Notifications</button>
</div>

@code {

    private async Task TriggerSuccessNotification()
    {
        await NotificationService.AddNotification(NotificationType.Success, "This is a Success Notification.");
    }

    private async Task TriggerErrorNotification()
    {
        var eventId = GetEventId();
        await NotificationService.AddNotification(NotificationType.Error, $"This is an Error Notification.\nEventId: {eventId}", 25);
    }

    private async Task TriggerWarningNotification()
    {
        await NotificationService.AddNotification(NotificationType.Warning, "This is a Warning Notification.", 10);
    }

    private async Task TriggerInformationNotification()
    {
        await NotificationService.AddNotification(NotificationType.Info, "This is an Information Notification.", 15);
    }

    private Task GenerateRandomNotifications()
    {
        Random random = new Random();
        Action[] notificationTriggers =
        [
            () => _ = TriggerSuccessNotification(),
            () => _ = TriggerErrorNotification(),
            () => _ = TriggerWarningNotification(),
            () => _ = TriggerInformationNotification()
        ];

        for (var i = 0; i < 5; i++)
        {
            var randomIndex = random.Next(notificationTriggers.Length);
            notificationTriggers[randomIndex]();
        }

        return Task.CompletedTask;
    }

    private string GetEventId()
    {
        var newEventId = Guid.NewGuid().ToString();
        var indexOfFirstDash = newEventId.IndexOf('-');
        return indexOfFirstDash == -1 ? newEventId : newEventId[..indexOfFirstDash];
    }
    
}