@page "/Tests"
@using DnD35EDMTools.Helpers
<h3>Dice Roll Results</h3>

<div>
    <button class="btn btn-primary" id="Button1" type="button" @onclick="RollDice">1d6+1</button>
    <br/>

    @if (_diceRollerResult != 0)
    {
        <table>
            <thead>
            <tr>
                <th>Result:</th>
            </tr>
            </thead>
            <tbody>
            <tr># @_diceRollerResult</tr>
            </tbody>
        </table>
    }
</div>

<br/>

<div>
    <button class="btn btn-primary" id="Button2" type="button" @onclick="RollFourDSixDropLowest">4d6DL</button>
    <br/>
    @if (_fourDSixDlResults != 0)
    {
        <table>
            <thead>
            <tr>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr># @_fourDSixDlResults</tr>
            </tbody>
        </table>
    }
</div>

<br/>

<div>
    <button class="btn btn-primary" id="Button3" type="button" @onclick="RollThreeDSixROne">3d6DR1</button>
    <br/>
    @if (_threeDSixReRollOneResults != 0)
    {
        <table>
            <thead>
            <tr>
                <th>Result:</th>
            </tr>
            </thead>
            <tbody>
            <tr># @_threeDSixReRollOneResults</tr>
            </tbody>
        </table>
    }
</div>

@code {

    private int _diceRollerResult;

    private void RollDice()
    {
        _diceRollerResult = DiceRoller.RollDice("1d6+1");
    }

    private int _fourDSixDlResults;

    private void RollFourDSixDropLowest()
    {
        _fourDSixDlResults = RollStats.FourDSixDropLowest();
    }

    private int _threeDSixReRollOneResults;

    private void RollThreeDSixROne()
    {
        _threeDSixReRollOneResults = RollStats.ThreeDSixReRollOnes();
    }


}