@page "/AddNewRace"

<PageTitle>Add New Race</PageTitle>

<h3>Add New Race</h3>

<div class="dnd-new-race-container">
<div class="dnd-new-race-content">
<div class="dnd-new-race-sheet">
<div class="dnd-nr-top-section">
<div class="dnd-nr-top__left">
    <div>
        <label for="race-name">Name:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="race-name" @bind="_raceName"/>
    </div>
    <div>
        <label for="race-size">Size:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="race-size" @bind="_raceSize"/>
    </div>
    <div>
        <label for="race-base-speed">Base Speed:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="race-base-speed" @bind="_raceBaseSpeed"/>
    </div>
    <div>
        <label for="strength-bonus">Strength Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="strength-bonus" @bind="_raceStrengthBonus"/>
    </div>
    <div>
        <label for="dexterity-bonus">Dexterity Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="dexterity-bonus" @bind="_raceDexterityBonus"/>
    </div>
    <div>
        <label for="constitution-bonus">Constitution Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="constitution-bonus" @bind="_raceConstitutionBonus"/>
    </div>
    <div>
        <label for="intelligence-bonus">Intelligence Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="intelligence-bonus" @bind="_raceIntelligenceBonus"/>
    </div>
    <div>
        <label for="wisdom-bonus">Wisdom Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="wisdom-bonus" @bind="_raceWisdomBonus"/>
    </div>
    <div>
        <label for="charisma-bonus">Charisma Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="charisma-bonus" @bind="_raceCharismaBonus"/>
    </div>

    <div>
        <label for="fortitude-bonus">Fortitude Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="fortitude-bonus" @bind="_raceFortitudeBonus"/>
    </div>
    <div>
        <label for="reflex-bonus">Reflex Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="reflex-bonus" @bind="_raceReflexBonus"/>
    </div>
    <div>
        <label for="will-bonus">Will Bonus Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="will-bonus" @bind="_raceWillBonus"/>
    </div>
    <div>
        <label for="skill-point-bonus">Skill point Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="skill-point-bonus" @bind="_raceSkillPointBonus"/>
    </div>
    <div>
        <label for="skill-points-per-level-bonus">Skill points Per Level Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="skill-points-per-level-bonus" @bind="_raceSkillPointsPerLevelBonus"/>
    </div>
    <div>
        <label for="feat-bonus">Feat Bonus:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="feat-bonus" @bind="_raceFeatBonus"/>
    </div>
    <div>
        <label for="adulthood-age">Adulthood Age:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="adulthood-age" @bind="_raceAdulthoodAge"/>
    </div>
    <div>
        <label for="middle-age">Middle Age:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="middle-age" @bind="_raceMiddleAge"/>
    </div>
    <div>
        <label for="venerable-age">Venerable Age:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="venerable-age" @bind="_raceVenerableAge"/>
    </div>
    <div>
        <label for="young-age-dice">Young Age Dice:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="young-age-dice" @bind="_raceYoungAgeDice"/>
    </div>
    <div>
        <label for="middle-age-dice">Middle Age Dice:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="middle-age-dice" @bind="_raceMiddleAgeDice"/>
    </div>
    <div>
        <label for="old-age-dice">Old Age Dice:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="old-age-dice" @bind="_raceOldAgeDice"/>
    </div>
    <div>
        <label for="female-height">Female Height:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="female-height" @bind="_raceFemaleHeight"/>
    </div>
    <div>
        <label for="male-height">Male Height:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="male-height" @bind="_raceMaleHeight"/>
    </div>
    <div>
        <label for="female-weight">Female Weight:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="female-weight" @bind="_raceFemaleWeight"/>
    </div>
    <div>
        <label for="male-weight">Male Weight:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="male-weight" @bind="_raceMaleWeight"/>
    </div>
    <div>
        <label for="source-book">Source book:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="source-book" @bind="_raceSource"/>
    </div>
    <div>
        <label for="page">Page:</label>
    </div>
    <div>
        <input class="nr-input-select" type="text" id="page" @bind="_racePage"/>
    </div>

</div>
<div class="dnd-nr-top__right">
<div>
    <label for="appraise-bonus">Appraise Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="appraise-bonus" @bind="_raceAppraiseBonus"/>
</div>
<div>
    <label for="autohypnosis-bonus">Autohypnosis Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="autohypnosis-bonus" @bind="_raceAutohypnosisBonus"/>
</div>
<div>
    <label for="balance-bonus">Balance Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="balance-bonus" @bind="_raceBalanceBonus"/>
</div>
<div>
    <label for="bluff-bonus">Bluff Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="bluff-bonus" @bind="_raceBluffBonus"/>
</div>
<div>
    <label for="climb-bonus">Climb Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="climb-bonus" @bind="_raceClimbBonus"/>
</div>
<div>
    <label for="control-shape-bonus">ControlShape Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="control-shape-bonus" @bind="_raceControlShapeBonus"/>
</div>
<div>
    <label for="concentration-bonus">Concentration Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="concentration-bonus" @bind="_raceConcentrationBonus"/>
</div>
<div>
    <label for="craft-alchemy-bonus">CraftAlchemy Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="craft-alchemy-bonus" @bind="_raceCraftAlchemyBonus"/>
</div>
<div>
    <label for="decipher-script-bonus">DecipherScript Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="decipher-script-bonus" @bind="_raceDecipherScriptBonus"/>
</div>
<div>
    <label for="diplomacy-bonus">Diplomacy Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="diplomacy-bonus" @bind="_raceDiplomacyBonus"/>
</div>
<div>
    <label for="disable-device-bonus">DisableDevice Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="disable-device-bonus" @bind="_raceDisableDeviceBonus"/>
</div>
<div>
    <label for="disguise-bonus">Disguise Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="disguise-bonus" @bind="_raceDisguiseBonus"/>
</div>
<div>
    <label for="escape-artist-bonus">EscapeArtist Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="escape-artist-bonus" @bind="_raceEscapeArtistBonus"/>
</div>
<div>
    <label for="forgery-bonus">Forgery Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="forgery-bonus" @bind="_raceForgeryBonus"/>
</div>
<div>
    <label for="gather-information-bonus">GatherInformation Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="gather-information-bonus" @bind="_raceGatherInformationBonus"/>
</div>
<div>
    <label for="handle-animal-bonus">HandleAnimal Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="handle-animal-bonus" @bind="_raceHandleAnimalBonus"/>
</div>
<div>
    <label for="heal-bonus">Heal Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="heal-bonus" @bind="_raceHealBonus"/>
</div>
<div>
    <label for="hide-bonus">Hide Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="hide-bonus" @bind="_raceHideBonus"/>
</div>
<div>
    <label for="hypnosis-bonus">Hypnosis Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="hypnosis-bonus" @bind="_raceHypnosisBonus"/>
</div>
<div>
    <label for="intimidate-bonus">Intimidate Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="intimidate-bonus" @bind="_raceIntimidateBonus"/>
</div>
<div>
    <label for="jump-bonus">Jump Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="jump-bonus" @bind="_raceJumpBonus"/>
</div>
<div>
    <label for="knowledge-arcana-bonus">Knowledge Arcana Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-arcana-bonus" @bind="_raceKnowledgeArcanaBonus"/>
</div>
<div>
    <label for="knowledge-arch-and-eng-bonus">Knowledge Arch And Eng Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-arch-and-eng-bonus" @bind="_raceKnowledgeArchAndEngBonus"/>
</div>
<div>
    <label for="knowledge-dungeoneering-bonus">Knowledge Dungeoneering Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-dungeoneering-bonus" @bind="_raceKnowledgeDungeoneeringBonus"/>
</div>
<div>
    <label for="knowledge-geography-bonus">Knowledge Geography Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-geography-bonus" @bind="_raceKnowledgeGeographyBonus"/>
</div>
<div>
    <label for="knowledge-history-bonus">Knowledge History Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-history-bonus" @bind="_raceKnowledgeHistoryBonus"/>
</div>
<div>
    <label for="knowledge-local-bonus">Knowledge Local Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-local-bonus" @bind="_raceKnowledgeLocalBonus"/>
</div>
<div>
    <label for="knowledge-monster-lore-bonus">Knowledge MonsterLore Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-monster-lore-bonus" @bind="_raceKnowledgeMonsterLoreBonus"/>
</div>
<div>
    <label for="knowledge-nature-bonus">Knowledge Nature Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-nature-bonus" @bind="_raceKnowledgeNatureBonus"/>
</div>
<div>
    <label for="knowledge-nobility-bonus">Knowledge Nobility Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-nobility-bonus" @bind="_raceKnowledgeNobilityBonus"/>
</div>
<div>
    <label for="knowledge-psionics-bonus">Knowledge Psionics Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-psionics-bonus" @bind="_raceKnowledgePsionicsBonus"/>
</div>
<div>
    <label for="knowledge-ravenloft-bonus">Knowledge Ravenloft Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-ravenloft-bonus" @bind="_raceKnowledgeRavenloftBonus"/>
</div>
<div>
    <label for="knowledge-religion-bonus">Knowledge Religion Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-religion-bonus" @bind="_raceKnowledgeReligionBonus"/>
</div>
<div>
    <label for="knowledge-the-planes-bonus">Knowledge The Planes Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="knowledge-the-planes-bonus" @bind="_raceKnowledgeThePlanesBonus"/>
</div>
<div>
    <label for="listen-bonus">Listen Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="listen-bonus" @bind="_raceListenBonus"/>
</div>
<div>
    <label for="martial-lore-bonus">MartialLore Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="martial-lore-bonus" @bind="_raceMartialLoreBonus"/>
</div>
<div>
    <label for="move-silently-bonus">MoveSilently Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="move-silently-bonus" @bind="_raceMoveSilentlyBonus"/>
</div>
<div>
    <label for="open-lock-bonus">OpenLock Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="open-lock-bonus" @bind="_raceOpenLockBonus"/>
</div>
<div>
    <label for="psicraft-bonus">Psicraft Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="psicraft-bonus" @bind="_racePsicraftBonus"/>
</div>
<div>
    <label for="ride-bonus">Ride Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="ride-bonus" @bind="_raceRideBonus"/>
</div>
<div>
    <label for="search-bonus">Search Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="search-bonus" @bind="_raceSearchBonus"/>
</div>
<div>
    <label for="sense-motive-bonus">SenseMotive Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="sense-motive-bonus" @bind="_raceSenseMotiveBonus"/>
</div>
<div>
    <label for="skill-tricks-bonus">SkillTricks Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="skill-tricks-bonus" @bind="_raceSkillTricksBonus"/>
</div>
<div>
    <label for="sleight-of-hand-bonus">SleightofHand Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="sleight-of-hand-bonus" @bind="_raceSleightofHandBonus"/>
</div>
<div>
    <label for="speak-language-bonus">SpeakLanguage Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="speak-language-bonus" @bind="_raceSpeakLanguageBonus"/>
</div>
<div>
    <label for="spellcraft-bonus">Spellcraft Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="spellcraft-bonus" @bind="_raceSpellcraftBonus"/>
</div>
<div>
    <label for="spot-bonus">Spot Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="spot-bonus" @bind="_raceSpotBonus"/>
</div>
<div>
    <label for="survival-bonus">Survival Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="survival-bonus" @bind="_raceSurvivalBonus"/>
</div>
<div>
    <label for="swim-bonus">Swim Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="swim-bonus" @bind="_raceSwimBonus"/>
</div>
<div>
    <label for="tumble-bonus">Tumble Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="tumble-bonus" @bind="_raceTumbleBonus"/>
</div>
<div>
    <label for="use-magic-device-bonus">Use Magic Device Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="use-magic-device-bonus" @bind="_raceUseMagicDeviceBonus"/>
</div>
<div>
    <label for="use-psionic-device-bonus">Use Psionic Device Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="use-psionic-device-bonus" @bind="_raceUsePsionicDeviceBonus"/>
</div>
<div>
    <label for="use-rope-bonus">Use Rope Bonus:</label>
</div>
<div>
    <input class="nr-input-select" type="text" id="use-rope-bonus" @bind="_raceUseRopeBonus"/>
</div>
</div>
</div>
</div>
</div>
</div>

<button @onclick="CreateNewRace">Create</button>

@code {

    private string _raceName, _raceSize, _raceYoungAgeDice, _raceMiddleAgeDice, _raceOldAgeDice, _raceHeightDice, _raceWeightDice, _raceDescription, _raceSource;

    private int _raceBaseSpeed, _raceStrengthBonus, _raceDexterityBonus, _raceConstitutionBonus,
        _raceIntelligenceBonus, _raceWisdomBonus, _raceCharismaBonus, _raceAppraiseBonus, _raceAutohypnosisBonus,
        _raceBalanceBonus, _raceBluffBonus, _raceClimbBonus, _raceControlShapeBonus, _raceConcentrationBonus,
        _raceCraftAlchemyBonus, _raceDecipherScriptBonus, _raceDiplomacyBonus, _raceDisableDeviceBonus,
        _raceDisguiseBonus, _raceEscapeArtistBonus, _raceForgeryBonus, _raceGatherInformationBonus, _raceHandleAnimalBonus,
        _raceHealBonus, _raceHideBonus, _raceHypnosisBonus, _raceIntimidateBonus, _raceJumpBonus, _raceKnowledgeArcanaBonus,
        _raceKnowledgeArchAndEngBonus, _raceKnowledgeDungeoneeringBonus, _raceKnowledgeGeographyBonus,
        _raceKnowledgeHistoryBonus, _raceKnowledgeLocalBonus, _raceKnowledgeMonsterLoreBonus, _raceKnowledgeNatureBonus,
        _raceKnowledgeNobilityBonus, _raceKnowledgePsionicsBonus, _raceKnowledgeRavenloftBonus, _raceKnowledgeReligionBonus,
        _raceKnowledgeThePlanesBonus, _raceListenBonus, _raceMartialLoreBonus, _raceMoveSilentlyBonus, _raceOpenLockBonus,
        _racePsicraftBonus, _raceRideBonus, _raceSearchBonus, _raceSenseMotiveBonus, _raceSkillTricksBonus,
        _raceSleightofHandBonus, _raceSpeakLanguageBonus, _raceSpellcraftBonus, _raceSpotBonus, _raceSurvivalBonus,
        _raceSwimBonus, _raceTumbleBonus, _raceUseMagicDeviceBonus, _raceUsePsionicDeviceBonus, _raceUseRopeBonus,
        _raceFortitudeBonus, _raceReflexBonus, _raceWillBonus, _raceSkillPointBonus, _raceSkillPointsPerLevelBonus,
        _raceFeatBonus, _raceAdulthoodAge, _raceMiddleAge, _raceVenerableAge, _raceFemaleHeight, _raceMaleHeight,
        _raceFemaleWeight, _raceMaleWeight, _racePage;
    
    private static void CreateNewRace()
    {
        Console.WriteLine("Database Saving Not Implemented");
    }

}