:root {
    --cellheight: 20px;
    --cellbordercolour: #808080;
    --cellheadercolor: #000000;
    --celldefaultcolor: #CCCCCC;
    --cellaltcolor: #E0E0E0;
    --bs-body-bg: #808080; /*Temporary colour change to save my poor eyes*/
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dnd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
}

.dnd-main-content  {
    height: 100%;
    width: 100%;
    font-size: .7rem;
    font-family: Arial, sans-serif;
}

/*Character Sheet Styles*/

.dnd-character-sheet {
    height: auto;
    width: 698px;
    border: 2px solid;
}

.dnd-cs-top-section {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

.dnd-cs-top__left {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: 1fr 160px 220px 160px 80px 60px 80px 1fr;
}

.dnd-cs-image-container img {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
    height: calc(14 * var(--cellheight));
}

.dnd-cs-top__right{
    display: grid;
    grid-template-rows: 1060px 1fr; /*680*/
}

.dnd-cs-top__right > div:not(:last-child) {
    border-right: 1px solid;
}

/*Attributes Styles*/

.attributes-row {
    display: grid;
    grid-template-rows: repeat(15, var(--cellheight));
    /*grid-template-rows: var(--cellheight) 280px;*/
}

.attributes-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.attributes-row-content {
    display: grid;
    grid-template-columns: 240px calc(100% - 240px);
}

.attributes-content {
    display: grid;
    grid-template-rows: repeat(14, var(--cellheight));
}

.attribute-list {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.attribute-list-row-header {
    text-align: start;
    background-color: #000;
    color: #fff;
    padding-left: 2px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.attribute-list__content {
    text-align: center;
    background-color: #CCC;
    color: #000;
    padding-left: 2px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/*Skills styles*/

.skills-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(15, var(--cellheight));
}
.skills-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.skills-row-content {
    display: grid;
    grid-template-rows: repeat(1, var(--cellheight));
}

.skills-content {
    display: grid;
    /*grid-template-rows: repeat(14, var(--cellheight));*/
}

.skills-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.skills-list-row-header {
    text-align: start;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.skills-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.skills-list-row-header-alt {
    text-align: start;
    background-color: #E0E0E0;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.skills-list-row-content-alt {
    text-align: center;
    background-color: #E0E0E0;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Languages Styles */

.languages-row {
    display: grid;
    grid-template-rows: repeat(8, var(--cellheight));
}

.languages-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.languages-row-content {
    display: grid;
    grid-template-rows: repeat(1, var(--cellheight));
}

.languages-content {
    display: grid;
}

.languages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.languages-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Wealth Styles */

.wealth-row {
    display: grid;
    grid-template-rows: repeat(11, var(--cellheight));
}

.wealth-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.wealth-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.wealth-list-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.wealth-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Load-Speed Styles*/

.load-speed-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.load-speed-list-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.load-speed-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
 }

/* Abilities Styles */

.abilities-row {
    display: grid;
    grid-template-rows: repeat(8, var(--cellheight));
}

.abilities-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.abilities-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.abilities-list-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.abilities-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Damage Reduction and Immunities Styles */

.dr-immunities-row {
    display: grid;
    grid-template-rows: repeat(4, var(--cellheight));
}

.dr-immunities-list-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.dr-immunities-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Worn Armour Styles */

.worn-armour-list {
    display: grid;
    grid-template-columns: 5fr .8fr 1fr 1fr 1.2fr;
}

.worn-armour-row {
    display: grid;
    grid-template-rows: repeat(3, var(--cellheight));
}

.worn-armour-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.worn-armour-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Armour Styles */

.armour-list {
    display: grid;
    grid-template-columns: 4.6fr 1fr .5fr 1fr .9fr 1fr 1fr 1fr;
}

.armour-row {
    display: grid;
    grid-template-rows: repeat(4, var(--cellheight));
}

.armour-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.armour-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/* Weapon Styles */

.weapon-list-left {
    display: grid;
    grid-template-columns: 2.1fr 1.6fr 1.3fr;
}

.weapon-list-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weapon-row {
    display: grid;
    grid-template-rows: repeat(7, var(--cellheight));
}

.weapon-row-header {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

.weapon-list-row-content {
    text-align: center;
    background-color: #CCC;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--cellbordercolour);
}

/*Character Creation Styles*/
.dnd-character-creation-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 29px;
    width: 80vw;
}

.cch-button{
    height: 30px;
    border-width: thin;
    padding: 4px;
    margin: 0;
}
.cch-button-selected{
    background-color: lightgray;
    color: darkgray;
    cursor: default;
}

.dnd-character-creation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
}

.dnd-character-main-content {
    height: 100%;
    width: 100%;
    font-size: .7rem;
    font-family: Arial, sans-serif;
}

.dnd-character-creation-sheet {
    height : 484px; /*24*/
    width: 1080px;
    border: 2px solid;
}

.dnd-cc-top-section {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.dnd-cc-tab-main {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, auto));
    grid-template-columns: 60px 120px 120px;
    grid-auto-rows: 20px;
    max-height: 480px;
    padding: 20px;
}

.dnd-cc-tab-stats {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, auto));
    grid-template-columns: 70px 120px 120px;
    grid-auto-rows: 20px;
    max-height: 480px;
    padding: 20px;
}

.dnd-cc-tab-appearance {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, auto));
    grid-template-columns: 40px 120px 120px;
    grid-auto-rows: 20px;
    max-height: 480px;
    padding: 20px;
}
.dnd-cc-tab-languages__header {
    border-color: var(--cellbordercolour);
    grid-auto-flow: column;
    max-height: 480px;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0;
}

.dnd-cc-tab-languages {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, auto));
    grid-template-columns: 122px 122px 122px;
    grid-auto-rows: 20px;
    grid-auto-flow: column;
    max-height: 480px;
    overflow-y: auto;
    padding: 20px;
}

.dnd-cc-tab-equipment {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, auto));
    grid-template-columns: 110px 120px 40px 80px;
    grid-auto-rows: 20px;
    max-height: 480px;
    padding: 20px;
}

.language-item {
    display: flex;
    align-items: center;
}

.cc-select {
    width: 120px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
}

.cc-input {
    width: 120px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
    padding: 3px;
}
.cc-point-buy-stat-input {
    width: 60px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
    padding: 3px;
}
.cc-point-buy-modifier-input {
    width: 60px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
    padding: 3px;
}

.cc-colour-box {
    width: 20px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
}

.cc-randomize-button {
    width: 100px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
}

.cc-point-buy-button {
    width: 20px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
}

.cc-pb-randomize-button {
    width: 60px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
    padding: 1px;
}

.cc-gold-input {
    width: 40px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
    padding: 3px;
}
.cc-gold-randomize-button {
    width: 80px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
}

/*New Race Styles*/

.dnd-new-race-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
}

.dnd-new-race-content {
    height: 100%;
    width: 100%;
    font-size: .7rem;
    font-family: Arial, sans-serif;
}

.dnd-new-race-sheet {
    height : auto;
    width: auto;
    border: 2px solid;
}

.dnd-nr-top-section {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    height: 100%;
}

.dnd-nr-top__left {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr 
    .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr 
    .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr  .2fr;
    grid-template-columns: .9fr 1fr;
}

.dnd-nr-top__right {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr 
    .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr 
    .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr  .2fr;
    grid-template-columns: .9fr 1fr;
}


.nr-input-select {
    width: 150px;
    height: 20px;
}

/*DM Home Styles */

.dnd-dm-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
}

.dnd-dm-home-main-content {
    height: 100%;
    width: 100%;
    font-size: .7rem;
    font-family: Arial, sans-serif;
}

.dnd-dm-home-sheet {
    height: 400px;
    width: 700px;
    border: 2px solid;
    padding: 5px;
}

.dnd-dm-home-top-section {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

.dnd-dm-home-top__left {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr;
    grid-template-columns: .5fr 1.5fr;
}

.dnd-dm-home-top__right {
    border-color: var(--cellbordercolour);
    display: grid;
    grid-template-rows: .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr .2fr;
    grid-template-columns: .2fr 1.8fr;
}

.dm-select {
    width: 200px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
}

.dm-input {
    width: 200px;
    height: 20px;
    border-width: thin;
    border-radius: 3px;
    padding: 3px;
}
.dm-textarea {
    resize: none;
    width: 200px;
    height: 150px;
    border-width: thin;
    border-radius: 3px;
    padding: 3px
}

@media only screen and (max-width: 1050px) {
    .top-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        height: 100%;
    }
}

/* Notification Styles */

.dnd-notification-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    z-index: 1000;
}

.dnd-notification {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
    position: relative;
}

.dnd-notification-success { background-color: #4CAF50; color: white; }
.dnd-notification-error { background-color: #F44336; color: white; }
.dnd-notification-warning { background-color: #FF9800; color: white; }
.dnd-notification-info { background-color: #2196F3; color: white; }

.dnd-progress-bar {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s linear;
}

.dnd-notification-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 6px;
}